*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh repeat(4, min-content); }

/**** Header *****/
.show {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 200px;
  justify-items: center; }

.navbar__list {
  list-style: none;
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(5, minmax(15rem, 1fr));
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .5s; }
  @media only screen and (max-width: 56.25em) {
    .navbar__list {
      display: none; } }
  .navbar__list-show {
    list-style: none;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column; }

.navbar__item {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  transition: all .3s; }
  .navbar__item:hover {
    background: white; }
  @media only screen and (max-width: 56.25em) {
    .navbar__item {
      margin-bottom: 1rem; } }

.navbar__item:hover .navbar__link {
  color: #000; }

.navbar__link:link, .navbar__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .navbar__link:link, .navbar__link:visited {
      padding: 2rem; } }

.navbar__logo {
  height: 10rem;
  width: 12rem;
  padding: 1rem;
  justify-self: center;
  align-self: center; }
  @media only screen and (max-width: 56.25em) {
    .navbar__logo {
      margin-left: 2rem; } }

.burger-icon {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .burger-icon {
      height: 6rem;
      width: 6rem;
      display: block;
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      justify-self: end;
      align-self: center;
      padding: 3rem;
      color: #fff;
      margin-right: 2rem; } }

.block {
  display: block;
  width: 100%;
  height: 1rem;
  background-color: #fff; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bike-3.jpg);
  background-size: cover;
  background-position: center; }
  .header__box {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 1fr 8rem 10rem;
    justify-items: start;
    align-items: center;
    color: #fff;
    padding: 5rem 5rem;
    margin-top: 12rem; }
    @media only screen and (max-width: 68.75em) {
      .header__box {
        grid-template-columns: max-content;
        margin-top: 21rem; } }
    @media only screen and (max-width: 46.87em) {
      .header__box {
        grid-template-columns: 100%;
        margin-top: 15rem;
        line-height: 1.5;
        grid-row-gap: 5rem; } }

.btn {
  font-size: 2rem;
  padding: 1.7rem 4rem;
  border: none;
  background-color: #1BA370;
  color: #fff;
  font-weight: 300 !important;
  align-self: end;
  transition: all .2s; }
  .btn a {
    text-decoration: none;
    color: #fff; }
  .btn:hover {
    background-color: #11865b; }
  .btn:active {
    transform: translateY(-0.2rem); }

/************ TOUR ************/
.tour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
  align-items: center;
  height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    .tour {
      grid-template-columns: repeat(auto-fit, minmax(50rem, max-content));
      justify-content: center; } }
  .tour__bike {
    width: 100%; }
    @media only screen and (max-width: 31.25em) {
      .tour__bike {
        width: 70%; } }
  .tour__about {
    padding: 0 5rem; }
  .tour__img {
    height: 13rem;
    width: 13rem;
    margin-top: 2rem;
    margin-right: 1rem; }
  @media only screen and (max-width: 31.25em) {
    .tour__img-box {
      display: grid;
      justify-items: center; } }

/************ ACCESSORIES ************/
.accessories {
  padding: 5rem;
  display: grid;
  grid-template-columns: 100%; }
  .accessories__img1 {
    width: 80%;
    justify-self: start;
    transform: translateY(-6rem); }
    @media only screen and (max-width: 50em) {
      .accessories__img1 {
        transform: translateY(2rem);
        width: 70rem;
        justify-self: end; } }
    @media only screen and (max-width: 43.75em) {
      .accessories__img1 {
        width: 60rem; } }
    @media only screen and (max-width: 31.25em) {
      .accessories__img1 {
        width: 50rem; } }
    @media only screen and (max-width: 25em) {
      .accessories__img1 {
        width: 40rem; } }
  .accessories__img2 {
    width: 80%;
    justify-self: end;
    transform: translateY(-6rem); }
    @media only screen and (max-width: 50em) {
      .accessories__img2 {
        display: none; } }
  .accessories__heading {
    text-align: center;
    font-size: 5rem;
    color: #fff; }
  .accessories__paragraph {
    text-align: center;
    font-size: 2.5rem;
    color: #fff; }
  .accessories__box {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 50em) {
      .accessories__box {
        grid-template-columns: max-content; } }

/************ Product ************/
.product {
  padding: 5rem 5rem 10rem 5rem; }
  .product__box1 {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 4rem; }
  .product__box2 {
    display: grid;
    justify-items: center; }
  .product__logo {
    height: 8rem;
    width: 9rem; }
  .product__heading {
    font-size: 4rem; }
  .product__heading2 {
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center; }
  .product__price {
    font-size: 1.5rem;
    text-align: center; }
  .product__box {
    width: 50%;
    grid-row: 2 / 4; }
  .product__bikebox {
    background-color: #f0f0f0;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center; }
  .product__bike {
    background-size: cover;
    background-position: center;
    width: 100%; }
  .product__icon {
    fill: #f9ca24;
    height: 4rem; }
  .product__label {
    background-color: #009129;
    width: 8rem;
    justify-self: start;
    margin-left: 2rem;
    color: #fff;
    padding: 0 2rem; }
  .product__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 1.5rem;
    margin-top: 3rem;
    grid-row-gap: 2rem; }

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center; }

/************ Testimonials ************/
.testimonial {
  display: grid;
  align-items: center;
  color: #fff; }
  @media only screen and (max-width: 700px) {
    .testimonial {
      display: flex; } }
  .testimonial__bg {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .testimonial__bg {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start; }
        .testimonial__bg > * {
          margin-bottom: 2.5rem; } }
  .testimonial__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 43.75em) {
      .testimonial__heading {
        order: 1;
        text-align: center;
        text-align: justify; } }
  .testimonial__icon {
    border-radius: 100%;
    border: .5rem solid #fff; }
    @media only screen and (max-width: 62.5em) {
      .testimonial__icon {
        height: 11rem; } }
    @media only screen and (max-width: 43.75em) {
      .testimonial__icon {
        margin-bottom: 0; } }
  .testimonial__paragraph {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 7rem;
    color: #f9ca24;
    text-transform: uppercase; }
    @media only screen and (max-width: 49.37em) {
      .testimonial__paragraph {
        margin-top: 9rem; } }
    @media only screen and (max-width: 700px) {
      .testimonial__paragraph {
        margin-top: 0; } }
  .testimonial__span {
    text-transform: none; }

/************ Footer ************/
.footer {
  display: grid;
  align-items: center; }
  .footer__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, min-content));
    justify-content: center;
    align-items: center;
    grid-row-gap: 5rem; }
  .footer__item {
    width: 100%;
    display: grid;
    justify-items: end; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    transition: color .3s; }
    .footer__link:link:hover, .footer__link:visited:hover {
      color: #1BA370; }

.navbar {
  background-color: #1BA370;
  display: grid;
  grid-template-columns: min-content 10rem 1fr;
  transition: all .5s; }

.header {
  grid-column: full-start / full-end; }

.tour {
  background-color: white;
  grid-column: full-start / full-end;
  padding: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .tour {
      padding: 0 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .tour {
      grid-template-rows: min-content min-content;
      grid-row-gap: 3rem;
      align-content: center; } }

.accessories {
  background-color: #1BA370;
  grid-column: full-start / full-end; }
  @media only screen and (max-width: 50em) {
    .accessories {
      justify-items: center; } }

.product {
  background-color: white;
  grid-column: full-start / full-end; }

.testimonial {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.301)), url(../img/bike-3.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  background-attachment: fixed;
  padding: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .testimonial {
      padding: 8rem; } }
  @media only screen and (max-width: 25em) {
    .testimonial {
      padding: 5rem; } }

.footer {
  background-color: #101D2C;
  grid-column: full-start / full-end;
  padding: 8rem 5rem; }

.heading1 {
  text-transform: uppercase;
  font-size: 4rem; }
  @media only screen and (max-width: 25em) {
    .heading1 {
      font-size: 3rem; } }
  .heading1--white {
    color: #fff; }
  .heading1--black {
    color: #3b3b3b; }
  .heading1--bold {
    font-weight: 600; }

.paragraph {
  line-height: 1.7; }

.sm-mb {
  margin-bottom: 1rem; }
