.navbar {
    background-color: #1BA370;

    display: grid;
    grid-template-columns: min-content 10rem 1fr;
}

.header {
    grid-column: full-start / full-end;
}

.tour {
    background-color: rgb(255, 255, 255);
    grid-column: full-start / full-end;
    padding: 5rem;

    @media only screen and (max-width: 37.5em) { // 600px
        padding: 0 3rem;
    }

    @media only screen and (max-width: 31.25em) { // 500px
        grid-template-rows: min-content min-content;
        grid-row-gap: 3rem;
        align-content: center;
    }


}

.accessories {
    background-color: #1BA370;
    grid-column: full-start / full-end;

    @media only screen and (max-width: 50em) { //800px
        justify-items: center;
    }
}

.product {
    background-color: rgb(255, 255, 255);
    grid-column: full-start / full-end;
}

.testimonial {
    grid-column: full-start / full-end;

    padding: 10rem;

    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.301)), url(../img/bike-3.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

.footer {
    background-color: #101D2C;
    grid-column: full-start / full-end;

    padding: 8rem 5rem;
}