.navbar {
    background-color: #1BA370;

    display: grid;
    grid-template-columns: min-content 10rem 1fr;
}

.header {
    grid-column: full-start / full-end;
}

.tour {
    background-color: rgb(255, 255, 255);
    grid-column: full-start / full-end;
    padding: 5rem;

}

.accessories {
    background-color: #1BA370;
    grid-column: full-start / full-end;
}

.product {
    background-color: rgb(255, 255, 255);
    grid-column: full-start / full-end;
}

.testimonial {
    grid-column: full-start / full-end;

    padding: 10rem;

    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.301)), url(../img/bike-3.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
}

.footer {
    background-color: orangered;
    grid-column: full-start / full-end;

    padding: 2rem 5rem;
}